<?xml version='1.0' encoding='utf-8'?>
<widget id="sk.owly.codetimermobile" version="1.1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CodeTimer</name>
    <description>CodeTimer for mobile. Simple APP for Kimai time tracking.</description>
    <author email="info@owly.sk" href="https://www.owly.sk">
        Martin Lačný - Owly
    </author>
    <icon src="res/icon.png"/>

    <resource-file src="res/icon.png" target="app/src/main/res/mipmap/icon.png" />
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icon_splash.png" />

        <!-- Camera permissions for barcode scanning -->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-feature android:name="android.hardware.camera" />
            <uses-feature android:name="android.hardware.camera.autofocus" />
        </config-file>
    </platform>

    <preference name="SplashScreenBackgroundColor" value="#212529" />
    <preference name="android-minSdkVersion" value="24"/>
    <preference name="android-targetSdkVersion" value="35"/>

    <content src="index.html" />
    <allow-intent href="*" />
    <access origin="*"/>
    <allow-navigation href="*" />
</widget>